body {
	margin: 0 !important;
	padding: 0 !important;
	/*background: #f5f5f0;*/
	background: #eaeaea;
}

header {
	height: 50px;;
	background: #216dff;
	position: static;
}

header ul {
	float: right;
	margin: 0;
}

header ul li {
	list-style: none;
	display: inline-flex;
}

header ul li a {
	line-height: 50px;
	color: white;
	text-decoration: none;
	padding: 0 10px;
	font-family: monospace;
}

header ul li a:hover {
	background: #00000020;
	color: white;
}

img.menu-icon {
	content: url('../img/menu.svg');
	width: 14px;
	color: white;
}

.logo, .logo a {
	text-decoration: none;
	position: absolute;
	padding: 0 0 0 5px;
	color: white;
	font-family: monospace;
	line-height: 50px;
	font-weight: bold;
	width: 150px;
}

.cartao {
	background: white;
	padding: 10px;
	margin: 10px;
}

main {
	
}

.ui-g .card {
	background-color: #ffffff;
	border: 5px solid #eaeaea;
}

.centralizado {
	text-align: center;
}

.bg-red {
	background: #db4534 !important;
	border: none !important;
}

.bg-green {
	background: #319731 !important;
	border: none !important;
}

.color-green {
	color: #319731;
}

.color-red {
	color: #db4534;
}

.color-white {
	color: white !important;
}

.card-icone i {
	font-size: 50px;
	padding: 0 10px;
}

.card-corpo {
	display: inline-flex;
}

.card-dados {
	
}

.card-descricao {
	font-size: 40px;
	font-weight: bold;
}

.ui-datatable th {
	background: #eaeaea !important;
}

.ativo {
	background: #e02365 !important;
	border: 1px solid #e02365 !important;
}

.cad-novo {
	padding: 0 0 40px 0;
}

.titulo-pagina h1 {
    margin: -15px 0 -30px 0;
}

.cad-novo-link {
    background: #2284ff;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
}

.cad-novo-link:hover {
    background: #216dff;
    color: #fff;
}

.right {
	float: right;
}

.left {
	float: left;
}